.dash-navbar {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 10px;
  justify-content: space-around;
}
.logo-of-prepbytes img {
  width: 160px;
  height: 70px;
}

.username-of-client {
  display: flex;
}
.username-of-client h2 {
  background-color: #03a6ec;
  color: white;
  height: 40px;
  
  width: 40px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.username-of-client p {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------------------------------------dashboard ------------------------------------- */

.dashboard-top-container {
  background-color: #f0f3f4;
  display: flex;
  
  padding: 30px;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: left;
}
.courses-of-dash {
  border-radius: 9px;
  width: 250px;
  position: relative;

  background-color: white;
}

.prepbytes-log {
  gap: 20px;
  margin: auto;
  width: 90%;

  display: flex;
}

.prepbytes-log img {
  width: 90px;
  height: 90px;
}
.starting {
  display: flex;
}
.starting p {
  font-size: 12px;
}
.starting img {
  width: 30px;
  height: 30px;
}
.lastdate p {
  font-size: 12px;
}

.lastdate {
  display: flex;
}
.lastdate img {
  width: 30px;
  height: 30px;
}
.name-button p {
  text-align: center;
  letter-spacing: 0.38px;
  color: #424242;
  font-size: 21px;
  font-weight: bold;
}

.name-button button {
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 10px;
  cursor: pointer;
  background: #00a5ec 0 0 no-repeat padding-box;
  border: 1px solid transparent;
  color: white;
  height: 40px;
  position: absolute;
  bottom: 0px;
  transform: translate(-11px, 24px);
  right: 10%;
}




.backimage{
    bottom: 0px;
    right: 0px;

    width: 100%;
    z-index: 0;
    position: absolute;
}

/* -----------------------------------------test----------------------- */

.test-conatiner{
    width: 250px;
    background-color: white;
    position: relative;
   border-radius: 10px;
}

.iamge-cont-for-test {
    width: 100%;
}
.iamge-cont-for-test img{
    width: 60%;
    display: block;
    margin: auto;
}