


.dash-navbar{
    display: flex;
    border-bottom: 1px solid gray ;
    padding: 10px;
    justify-content: space-around;
}
.logo-of-prepbytes img{
    width: 160px;
    height: 70px;
    
}

.username-of-client{
    display: flex;
   

}
.username-of-client h2{
    background-color: #03A6EC;
    color:  white;
    height: 40px;
    width: 40px;
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.username-of-client p{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.dashboard-detail{
    height: 100vh;
    display: flex;
  
    gap: 20px;
    background-color: #f0f3f4;
    justify-content: left;
    padding: 30px;
}

.img-dashboard {
    background-color: white;
    width: 300px;
    position: relative;
    display: flex;
    height: 300px;
    flex-direction: column;
   
   border-radius: 10px;

}
.img-dashboard img{
    display: block;
    margin: auto;
   width: 90%;
}
.img-dashboard p{
    color: #424242;
    font-size: 22px;
    text-align: center;
}
.img-dashboard button {
    background-color:  #03A6EC ;
    color:  white;
    width: 90%;
   
    border: none;
    border-radius: 8px;
    height: 30px;
    display: block;
    margin: auto;
}
.prep{
    display: flex;
    width: 80%;
    margin-top: 20px;
    justify-content: left;
}


.date-time{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.prep img{
    width: 90px;
    height: 90px;
}
.date-course{
    display: flex;
}
.time-course{
    display: flex;
}

.date-course img{
    width: 30px;
    height: 30px;
}
.date-time p{
    font-size: 12px;
}
.time-course img{
    width: 30px;
    height: 30px;
}

.backgroundimage{
    height: auto;
}
.backgroundimage{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}